.swiperContainer {
    width: 100%;
    
    .swiper-wrapper {
        align-items: center;
    }
}

.swiperWrapper {
    align-items: center;
}

.slide {
    align-self: center;
    width: fit-content;
}