@import "../../styles/theme";

.navbar {
    display: flex;
    width: calc(100% - (2 *  $section-margin));
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    padding: spacing(4) $section-margin;

    @media only screen
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1) {
        justify-content: center;
    }
}
