.container {
    cursor: pointer;
    transition: opacity 200ms ease-in-out;

    fill: #a4ddea;
    opacity: 1;

    &:hover {
        opacity: 0.8;
    }
}

.underline {
    transition: width 200ms ease-in-out;
}

.st1 {
    fill: none;
    stroke: #a4ddea;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
