@import 'fonts';

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    line-height: 2;
}

a {
    text-decoration: none;
}

#gradient-canvas {
    --gradient-color-1: #6ec3f4;
    --gradient-color-2: #3a3aff;
    --gradient-color-3: #ff61ab;
    --gradient-color-4: #e63946;
}
