@import "theme";
@import "fonts";

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: $color-background;
}

* {
    margin: 0;
    padding: 0;
    color: $color-white;
    font-family: $font-family;
    line-height: 2;
}

h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-semibold;
    text-align: center;
    
    @media only screen
    and (max-device-width: 736px)
    and (orientation: portrait) {
        font-size: $font-size-h1-mobile;
    }
}

h2 {
    font-size: $font-size-h2;
    text-align: left;
    @media only screen
    and (max-device-width: 736px)
    and (orientation: portrait) {
        font-size: $font-size-h2-mobile;
    }
}

h3 {
    font-size: $font-size-h3;
    text-align: left;
    @media only screen
    and (max-device-width: 736px)
    and (orientation: portrait) {
        font-size: $font-size-h3-mobile;
    }
}