$font-family: 'Open Sans', serif !default;
$font-family-semibold: 'Open Sans SemiBold', serif !default;
$font-family-extrabold: 'Open Sans ExtraBold', serif !default;
$font-weight-semibold: 600 !default;

$font-size-p: 1.2em;
$font-size-h1: 3em;
$font-size-h2: 2.8em;
$font-size-h3: 1.8em;
$font-size-p-mobile: 0.9em;
$font-size-h1-mobile: 2.5em;
$font-size-h2-mobile: 2em;
$font-size-h3-mobile: 1.3em;
$font-size-s: 8px;
$font-size-m: 16px;
$font-size-l: 32px;

$color-black: black !default;
$color-white: white !default;
$color-grey-25: #404040 !default;
$color-grey-35: #595959 !default;
$color-grey-50: #7f7f7f !default;
$color-grey-75: #bfbfbf !default;
$color-grey-85: #d8d8d8 !default;
$color-grey-95: #f2f2f2 !default;

$color-background: #201C28 !default;
$color-primary: #A4DDEA !default;
$color-success: #77d970 !default;
$color-success-light: #affaaa !default;
$color-warn: #ffbc2b !default;

$section-margin: 15% !default;

$base-spacing: 4px;

@function spacing($amount) {
  @return $amount * $base-spacing;
}